<!DOCTYPE html>
{%load static%}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Nepal AdvenTour| Home Page</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <link href="https://cdn.lineicons.com/4.0/lineicons.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css"/>
    <link rel="stylesheet" type="text/css" href="{% static 'css/home.css' %}">
    {% include 'shared/navBar.html' %}
</head>
<body class="dark">

    <!-- slider -->
    <section id="slider">
        <div id="carouselExampleIndicators" class="carousel slide">
            <div class="carousel-inner">
              <div class="carousel-item active">
                <img src="{% static 'images/home/slider1.jpg' %}" class="d-block w-100" alt="...">
                <div class="carousel-caption">
                    <h5>Majestic Peaks Await</h5>
                </div>
              </div>
              <div class="carousel-item">
                <img src="{% static 'images/home/slider2.jpg' %}" class="d-block w-100" alt="...">
                <div class="carousel-caption">
                    <h5>Himalayan Majesty Calls</h5>
                </div>
            </div>
              <div class="carousel-item">
                <img src="{% static 'images/home/slider3.jpg' %}" class="d-block w-100" alt="...">
                <div class="carousel-caption">
                    <h5>Annapurna's Graceful Slopes</h5>
                </div>
              </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Next</span>
            </button>
          </div>
    </section>


    <!-- Popular Destinations -->
    <section id="destinations" class="pt-5" style="background-color: #292a2d;">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <span class="subtitle">
                        Top Destination
                    </span>
                    <h2 class="py-2 mb-3" >World's Popular Destination</h2>
                </div>
                <div class="col-lg-3 mb-5">
                    <div class="destination">
                        <div class="destination-image">
                            <a href="https://www.britannica.com/place/Mount-Everest" target="_blank"><img src="{% static 'images/home/nepal.jpg' %}" alt=""></a>  
                        </div>
                        <div class="destination-info">
                            <h3 class="mb-3">Nepal</h3>
                            <p>Mount Everest</p>
                        </div>
                    </div> 
                </div>
                <div class="col-lg-3 mb-5">
                    <div class="destination">
                        <div class="destination-image">
                            <a href="https://www.drukasia.com/bhutan/paro/taktsang-monastery/" target="_blank"><img src="{% static 'images/home/bhutan.jpg' %}" alt=""></a>  
                        </div>
                        <div class="destination-info">
                            <h3 class="mb-3">Bhutan</h3>
                            <p>Paro Taktsang</p>
                        </div>
                    </div> 
                </div>
                <div class="col-lg-3 mb-5">
                    <div class="destination">
                        <div class="destination-image">
                            <a href="https://www.himalayanwonders.com/content/peaks/mount-kailash.html?selocation=NP" target="_blank"><img src="{% static 'images/home/tibet.jpg' %}" alt=""></a>  
                        </div>
                        <div class="destination-info">
                            <h3 class="mb-3">Tibet</h3>
                            <p>Mount Kailash</p>
                        </div>
                    </div> 
                </div>
                <div class="col-lg-3 mb-5">
                    <div class="destination">
                        <div class="destination-image">
                            <a href="https://whc.unesco.org/en/list/252/" target="_blank"><img src="{% static 'images/home/india.jpg' %}" alt=""></a>  
                        </div>
                        <div class="destination-info">
                            <h3 class="mb-3">India</h3>
                            <p>Taj Mahal</p>
                        </div>
                    </div> 
                </div>
            </div>
        </div>
    </section>
    
    <!-- Featured Hotels -->
    <section id="packages" class="py-5">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-md-12">
                    <span class="subtitle">
                        Choose Your Accomodation
                </span>
                <h2 class="mb-3">Featured Hotels</h2>
                </div>
            </div>
            <div class="swiper">
                <div class="card-slider">
                    <div class="swiper-wrapper">

                    <div class="swiper-slide">
                        <div class="package card border-0 shadow">
                            <div class="position-absolute top-0 left-0 ms-3 mt-3 z-1">
                                <div class="label bg-success text-light">
                                    Featured
                                </div>
                            </div>
                            <div class="package-img overflow-hidden">
                                <img src="{% static 'images/home/mardi.jpg' %}" class="img-fluid" alt = "">
                            </div>
                            <div class="card-header border-bottom-0 px-4 pt-4">
                                <h6 class="package-title">Mardi Himal Trek</h6>
                                <div class="card-subtitle">
                                    <span class="duration">10 Days</span>
                                    <span class="normal-seperate"></span>
                                    <span>
                                        <i class="lni lni-star-fill checked"></i>
                                        <i class="lni lni-star-fill checked"></i>
                                        <i class="lni lni-star-fill checked"></i>
                                        <i class="lni lni-star-fill checked"></i>
                                        <i class="lni lni-star-fill checked"></i>
                                    </span>
                                </div>
                            </div>
                            <div class="card-footer border-top-0 px-4 pt-0 pb-4">
                                <h5 class="fs-5 m-0">
                                    <span class="price">Rs 67,800</span>
                                </h5>
                            </div>
                        </div>
                    </div> 
                </div>
            </div>
            <div class="arrow my-2 justify-content-start">
                <div class="prevArrowBtn">
                    <i class="lni lni-chevron-left"></i>
                </div>
                <div class="nextArrowBtn">
                    <i class="lni lni-chevron-right"></i>
                </div>
            </div>
        </div>
    </section>

    <!--Blogs -->
    <section id="blog" class="pt-5">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <span class="subtitle">
                        Travel Blog
                    </span>
                    <h2 class="mb-3">
                        Travel Experience
                    </h2>
                </div>
                <div class="col-md-4 mb-5">
                    <div class="card border-0">
                        <div class="blog-img overflow-hidden">
                            <a href="https://www.indietraveller.co/nepal-travel-guide/" target="_blank">
                                <img src="{% static 'images/home/travel_blog1.jpg' %}" class="img-fluid">
                            </a>
                        </div>
                        <div class="card-header border-bottom-0 ps-0">
                            <h5 class="fw-bold mb-0">
                                Indie Traveller: A Backpacker's Travel Guide to Nepal
                            </h5>
                        </div>
                        <div class="card-footer border-top-0 ps-0 py-0">
                            <span>
                                Oct 18, 2023
                            </span>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 mb-5">
                    <div class="card border-0">
                        <div class="blog-img overflow-hidden">
                            <a href="https://www.thecommonwanderer.com/blog/responsible-travel-guide-nepal" target="_blank">
                                <img src="{% static 'images/home/travel_blog2.jpg' %}" class="img-fluid">
                            </a>    
                        </div>
                        <div class="card-header border-bottom-0 ps-0">
                            <h5 class="fw-bold mb-0">
                                The Common Wanderer: Everything You Need to Know
                            </h5>
                        </div>
                        <div class="card-footer border-top-0 ps-0 py-0">
                            <span>
                                Sep 15, 2019
                            </span>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 mb-5">
                    <div class="card border-0">
                        <div class="blog-img overflow-hidden">
                            <a href="https://goaskalocal.com/blog/nepal-travel-guide" target="_blank">
                                <img src="{% static 'images/home/travel_blog3.jpeg' %}" class="img-fluid">
                            </a>
                        </div>
                        <div class="card-header border-bottom-0 ps-0">
                            <h5 class="fw-bold mb-0">
                                Go Ask A Local: Nepal Travel Guide
                            </h5>
                        </div>
                        <div class="card-footer border-top-0 ps-0 py-0">
                            <span>
                                Nov 10, 2023
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- Activity of the Month -->
    <section>
        <section id="featured" class="py-5">
            <div class="container py-5">
                <div class="row d-flex align-items-center">
                    <div class="col-md-5 col-12">
                        <div class="mb-3">
                            <img src="{% static 'images/home/everest-tour.jpg' %}" class="img-fluid w-100 rounded-1" alt="featured">
                        </div>
                    </div>
                    <div class="col-md-5 offset-md-1 col-12">
                        <span class="subtitle">
                            Activity Of The Month
                        </span>
                        <h2 class="fw-bold fs-1 mt-3">
                            Everest Base Camp Trek
                        </h2>
                        <p class="mb-3">
                            Trek to Everest Base Camp, a legendary journey through Nepal's breathtaking Himalayan Peak.
                        </p>
                        <ul class="list-unstyled">
                            <li class="mb-2">
                                <span>
                                    <i class="lni lni-checkmark"></i>
                                </span>
                                <span class="ms-1">Scenic Views of Majestic Everest Peaks</span>
                            </li>
                            <li class="mb-2">
                                <span>
                                    <i class="lni lni-checkmark"></i>
                                </span>
                                <span class="ms-1">Immerse in Rich Sherpa Culture</span>
                            </li>
                            <li class="mb-2">
                                <span>
                                    <i class="lni lni-checkmark"></i>
                                </span>
                                <span class="ms-1">Challenging Yet Rewarding Terrain Exploration</span>
                            </li>
                            <li class="mb-2">
                                <span>
                                    <i class="lni lni-checkmark"></i>
                                </span>
                                <span class="ms-1">Iconic Base Camp Arrival Achievement</span>
                            </li>
                            <li class="mb-2">
                                <span>
                                    <i class="lni lni-checkmark"></i>
                                </span>
                                <span class="ms-1">Memorable Himalayan Adventure Experience</span>
                            </li>
                        </ul>
                        <a href="#" class="btn btn-outline-secondary border-0 w-100">Explore Package</a>
                    </div>
                </div>
            </div>
        </section>
    </section>

    <button id="scroll-top-btn" type="button" onclick="scrollToTop()" class="visible">
        <i class="lni lni-arrow-up"></i>
    </button>
    {% include 'shared/footer.html' %}
    <script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>
    <script type="text/javascript" src="{% static 'js/home.js' %}"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
</body>
</html>