<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hotel List</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/hotels.css' %}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3pVYMJA26wCpk70PRFV1F8CfxyL5h9KBNdbfEyyQXJR2l0grtV9IKCLjh" crossorigin="anonymous">
</head>
<body style="background-color: #292a2d;">
    {%include 'shared/navBar.html'%}
    <div class="container">
        <div class="title"><h2 style="color: whitesmoke;font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;">HOTEL LIST</h2></div>
        <div class="listProduct">
            {% for hotel in hotels %}
            <div class="item">
                <img src="{{ hotel.picture.url}}" alt="Image of {{ hotel.name }}" style="width: 100%; height: 220px;">
                <h2>{{ hotel.name }}</h2>
                <div class="price">Rs {{ hotel.price }}</div>
                <a href="{% url 'hotel_details' hotel.id %}" class="detail-button">View Details</a>
            </div>
            {% endfor %}
        </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.9/dist/umd/popper.min.js" integrity="sha384-eMNCOe7tC1doJHdhgaI2C5X4O3g3fVL9buFJf7t7w4eXBmOhY1tYsK60+3j6K73f" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shc1SVLJ6sOq3GxlJ8u5xoaq/pr97X9po5yJv" crossorigin="anonymous"></script>
</body>
</html>
