<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hotel List</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/hotels.css' %}">
    
</head>
<body style="background-color: #292a2d;">
    {%include 'shared/navBar.html'%}
    <div class="container">
        <div class="title"><h2 style="color: whitesmoke;font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;">HOTEL LIST</h2></div>
        <div class="listProduct">
            {% for hotel in hotels %}
            <div class="item">
                <img src="{{ hotel.picture.url}}" alt="Image of {{ hotel.name }}" style="width: 100%; height: 220px;">
                <h2>{{ hotel.name }}</h2>
                <div class="price">Rs {{ hotel.price }}</div>
                <a href="{% url 'hotel_details' hotel.id %}" class="detail-button">View Details</a>
            </div>
            {% endfor %}
        </div>
    </div>
    
</body>
</html>
